NEXT_PUBLIC_SUPABASE_URL=https://wgwqcaufdlsgvijrrmhf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indnd3FjYXVmZGxzZ3ZpanJybWhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwOTQ4ODAsImV4cCI6MjA4OTY3MDg4MH0.tp04bbdQtFtfPXOTkhl1MCfktXFh0Ny-jhjsudcFLYc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indnd3FjYXVmZGxzZ3ZpanJybWhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDA5NDg4MCwiZXhwIjoyMDg5NjcwODgwfQ.YEat13XKHqwgBqOZJ0Q69a9lGc7F4g3dNIVawvpqFwg
RAZORPAY_KEY_ID=rzp_test_STuWFQEWAZePSL
RAZORPAY_KEY_SECRET=92s73F3vQm8Gty6jSawAl4ro
RAZORPAY_WEBHOOK_SECRET=https://yourdomain.com/api/razorpay/webhook
NEXT_PUBLIC_SITE_URL=http://localhost:8080
